#mainHeader {
    width: 100%;
    text-align: center;
}

Sidebar {
    max_width: 20;
}

SidebarCurrencyTracker {
    border: round white;
    height: 6;
    align: center middle;
}

SidebarMenu {
    border: round white;
    # border_title_align: center;
}

#sidebarCurrencyAmount, #sidebarCurrencyName {
    width: 100%;
    text-align: center;
}

#newsTicker {
    width: 100%;
    text-align: right;
    border: round white;
}

MainContainer {
    border: round white;
}